tmp
temp
pids
log
results
npm-debug.log
node_modules
bower_components
dist

*.log
*.iml
*.ipr
*.iws
.idea/
*.project
.project

*.sass-cache

*.sublime-workspace

*.tmproj
*.tmproject
tmtags

*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

version.txt